# Python
__pycache__/

#pycache from app
app/__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env
.flaskenv

# Flask
instance/

# Migrations cache
migrations/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
