services:
  # SonarQube DB
  sonarqube-db:
    image: postgres:13
    container_name: sonarqube-db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    volumes:
      - sonarqube_postgresql:/var/lib/postgresql/data
    networks:
      - devops-network

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
      - SONAR_JDBC_URL=jdbc:postgresql://sonarqube-db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    depends_on:
      - sonarqube-db
    networks:
      - devops-network

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    user: root
    networks:
      - devops-network

  # Flask App DB (persistent)
  app-db:
    image: postgres:13
    container_name: bitly-db
    environment:
      - POSTGRES_USER=bitly_user
      - POSTGRES_PASSWORD=bitly_pass
      - POSTGRES_DB=bitly_db
    volumes:
      - app_postgresql:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - devops-network

volumes:
  sonarqube_postgresql:
  jenkins_home:
  app_postgresql:

networks:
  devops-network:
    driver: bridge